:root {
    --pink: #EFEBF2;
    --purple: #30105A;
    --btnPink: #E3BAC6;
    --grey: grey;
}

body {
    background-color: var(--pink);
}

.layout {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
}

.logo {
    max-width: 100%;
    height: auto;
}

.title {
    font-family: 'Angkor';
}

.inputArea {
    border-radius: 10px;
    margin-bottom: 10px;
}

.inputArea:hover {
    border: 2px solid var(--btnPink);
}

.btn {
    border-radius: 10px;
    color: white;
    font-weight: 500;
}

.btn:hover {
    scale: 1.05;
    color: white;
}

.purpleBtn {
    background-color: var(--purple);
    margin-top: 10px;
    margin-right: 5px;
}

.pinkBtn {
    background-color: var(--btnPink);
    margin-right: 5px;
}

#recentCitiesContainer {
    margin-top: 50px;
}

#historyParagraph {
    color: var(--grey);
}


.hidden {
    display: none;
}

@media screen and (min-width: 768px) {
    .layout {
        grid-template-columns: 25% 65%; /* Restore original layout for larger screens */
        justify-content: space-around;
    }
}

/* .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--purple);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerText {
    margin: auto;
    padding: 8px;
} */