.landingLogo {
    width: 60px;
    margin-top: -10px;
}

nav {
    background-color: rgb(202, 250, 250);
    height: 70px;
}

.hero {
    background-image: url("../img/paris.jpg");
    background-size: cover;
    height: 500px;
}