:root {
    --pink: #EFEBF2;
    --purple: #30105A;
    --btnPink: #E3BAC6;
    --grey: grey;
}

body {
    background-color: var(--pink);
}

nav {
    background-color: var(--btnPink);
    color: white;
}

nav h4 {
    margin-left: 20px;
}

.card-title {
    text-align: center;
    margin: -30px 30% 0 30%;
    padding: 5px;
    background-color: var(--purple);
    color: white;
    border-radius: 20px;
}

.hero-text {
    padding-top: 25px;
}

#weather p {
    text-align: left;
}

.mainCard {
    background-color: transparent;
    border: transparent;
}

.foodTitle {
    margin: 30px 0 20px 0;
    font-weight: 700;
    text-align: center;
}

#food {
    text-align: center;
}

.foodImg, .pizzaImage {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 20px;
    padding: 10px;
    width: 70%;
}

#food a {
    display: block;
}

.food-container {
    display: flex;
}

#list {
    text-align: left;
    margin-left: 40px;
}

.movies-card {
    background: #eee;
    border: transparent;
}

.carousel {
    height: auto;
    text-align: center;
}

.carousel-caption {
    padding: 10px 20px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.7);
}

.carousel-img {
    object-fit: cover;
    object-position: center;
    height: 100vh;
    overflow: hidden;
}

.footer {
    background-color: var(--btnPink);
    color: white;
    text-align: center;
    padding: 8px;
    font-weight: 500;
}

footer a {
    color: white;
}

.footerText {
    margin-bottom: 5px;
}