body {
    background-color: #FFFFFF;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='101' height='101' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%2300b1b2' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%2300d7d8' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%2300b1b2' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%2300d7d8' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%2300FFFF' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%2300a0b8' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%2300c2db' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%2304E6FF' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%2300c2db' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%2300a0b8' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%2304E6FF' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%2300a0b8' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%2304E6FF' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%2300c2db' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%2304E6FF' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E"); */
    background-attachment: fixed;
    font-family: 'Raleway', sans-serif;
}

:root {
    --navblue: rgb(202, 250, 250);
}

.navbar {
    position: relative;
}

.navbar:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='101' height='101' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%2300b1b2' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%2300d7d8' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%2300b1b2' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%2300d7d8' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%2300FFFF' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%2300a0b8' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%2300c2db' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%2304E6FF' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%2300c2db' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%2300a0b8' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%2304E6FF' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%2300a0b8' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%2304E6FF' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%2300c2db' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%2304E6FF' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
    opacity: 0.3;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.navbar-content {
    position: relative;
}

.landing-logo a {
    padding: 0;
    display: inline-flex; 
    align-items: center; 
}

.landing-logo img {
    max-height: 100%; 
    max-width: 100%; 
    height: auto; 
    margin: 5px; 
}

.navbar .container-fluid {
    display: flex; 
    align-items: center; 
}

.navbar h3 {
    flex-grow: 1;
    text-align: center; 
}

.btn {
    background-color: #00FFFF;
    outline: none;
    border-radius: 5px;
    padding: 8px;
}

#welcome-text {
    background-color: rgba(228, 170, 82, 0.5);
    padding: 40px;
    justify-content: center;
    border-radius: 20px;
    width: 600px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.card-title {
    text-align: center;
    margin: -30px 30% 0 30%;
    padding: 5px;
    border: 2px solid var(--navblue);
    background-color: white;
    border-radius: 10px;
}

.card-text {
    margin-top: 20px;
    margin-bottom: 25px;
}

.card-body {
    background: rgb(255,255,255);
    background: linear-gradient(137deg, rgba(255,255,255,1) 0%, rgba(234,254,255,1) 76%, rgba(168,249,255,1) 95%, rgba(160,249,255,1) 100%);
}

#weather {
    border-radius: 0 0 10px 10px;
}

#weather p {
    text-align: left;
}

.mainCard {
    background-color: transparent;
    border: transparent;
    border-radius: 0;
}

.foodTitle {
    margin: 30px 0 20px 0;
    font-weight: 700;
    text-align: center;
}

#food {
    text-align: center;
}

.foodImg, .pizzaImage {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 20px;
    border: 2px solid var(--navblue);
    padding: 10px;
    width: 50%;
}

#food a {
    display: block;
}

.food-container {
    display: flex;
}

#list {
    text-align: left;
    margin-left: 40px;
}

.movies-card {
    background: #eee;
    border: transparent;
}

.carousel {
    height: auto;
    text-align: center;
}

.carousel-caption {
    padding: 10px 20px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.7);
}

.sign-up {
    background-color: #5caa59;
    border: 1px solid #5caa59;
    color: #fff;
}

.carousel-img {
    object-fit: cover;
    object-position: center;
    height: 100vh;
    overflow: hidden;
}

.nav-buttons {
    display: flex;
}

#dropdownMenuButton, .getInTouchBtn {
    background-color: #00FFFF;
    border-radius: 5px;
    margin-right: 10px;
    padding: 8px;
    width: 100px;
    justify-content: right;
    color: black;
}

footer {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.hero-section .row {
    width: 100%;
    margin: 0 auto;
}

.hero-section .card {
    width: 100%;
    margin-bottom: 20px;
}

.dropdown-item:hover {
    background-color: #00FFFF;
}

/* For larger screens */
@media (min-width: 768px) {
    .hero-section .row {
        max-width: 1140px;
    }
}

/* Responsive padding and margin adjustments */
@media (max-width: 768px) {
    .card {
        margin: 5px;
    }
}
